n8n_workflows/production_workflow_SIMPLIFIED.json
{
  "name": "TradeAgent Production (Simplified)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-5"
            }
          ]
        }
      },
      "name": "Schedule: Data Refresh (8AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 200],
      "id": "schedule-data"
    },
    {
      "parameters": {
        "command": "powershell.exe -ExecutionPolicy Bypass -File \"C:\\\\Users\\\\training\\\\Documents\\\\Python Projects\\\\TradeAgent\\\\run_download.ps1\""
      },
      "name": "Download Stock Data",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [450, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/1455707939380793417/eFbKC5JiYXmyAc4UarJiC5tbDCJI5X4kxa0bLU25xTaNLGUo-qhnW7YrXBsvxLQlF_hz",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "\ud83d\udce5 **Data Refresh Complete**\\n\\nTime: {{ $now.toFormat('h:mm a') }} EST\\nStatus: All stock data updated\\n\u2705 System ready for trading"
            }
          ]
        },
        "options": {}
      },
      "name": "Discord: Data Ready",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 200]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 9 * * 1-5"
            }
          ]
        }
      },
      "name": "Schedule: Start Trading (9:30AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 400],
      "id": "schedule-trading"
    },
    {
      "parameters": {
        "command": "powershell.exe -ExecutionPolicy Bypass -File \"C:\\\\Users\\\\training\\\\Documents\\\\Python Projects\\\\TradeAgent\\\\run_trading.ps1\""
      },
      "name": "Start Trading",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [450, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/1455707939380793417/eFbKC5JiYXmyAc4UarJiC5tbDCJI5X4kxa0bLU25xTaNLGUo-qhnW7YrXBsvxLQlF_hz",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "\ud83d\udfe2 **Live Trading Started**\\n\\nTime: {{ $now.toFormat('h:mm a') }} EST\\nMode: Paper Trading\\nStocks: 25 momentum leaders\\n\\n\u23f0 Auto-stop: 4:00 PM EST"
            }
          ]
        },
        "options": {}
      },
      "name": "Discord: Trading Started",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 400]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 16 * * 1-5"
            }
          ]
        }
      },
      "name": "Schedule: Market Close (4PM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 600],
      "id": "schedule-close"
    },
    {
      "parameters": {
        "command": "powershell.exe -Command \"Get-Content 'C:\\\\Users\\\\training\\\\Documents\\\\Python Projects\\\\TradeAgent\\\\logs\\\\trades_log_*.txt' | Select-Object -Last 100\""
      },
      "name": "Read Trade Log",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [450, 600]
    },
    {
      "parameters": {
        "jsCode": "// Parse trade log and generate daily summary\nconst logContent = $input.item.json.stdout || '';\n\n// Extract key metrics from log\nconst equityMatch = logContent.match(/Ending Equity:\\s+\\$([\\d,]+\\.\\d{2})/);\nconst pnlMatch = logContent.match(/Net P\\/L:\\s+\\$([+-]?[\\d,]+\\.\\d{2})/);\nconst returnMatch = logContent.match(/Return:\\s+([+-]?[\\d.]+)%/);\nconst tradesMatch = logContent.match(/TRADES EXECUTED: (\\d+)/);\nconst buysMatch = logContent.match(/Buys: (\\d+)/);\nconst sellsMatch = logContent.match(/Sells: (\\d+)/);\n\nconst endingEquity = equityMatch ? equityMatch[1] : '100,000.00';\nconst netPnl = pnlMatch ? pnlMatch[1] : '+0.00';\nconst returnPct = returnMatch ? returnMatch[1] : '+0.00';\nconst totalTrades = tradesMatch ? tradesMatch[1] : '0';\nconst buys = buysMatch ? buysMatch[1] : '0';\nconst sells = sellsMatch ? sellsMatch[1] : '0';\n\nconst emoji = parseFloat(returnPct) >= 0 ? '\ud83d\udfe2' : '\ud83d\udd34';\n\nreturn {\n  summary: `${emoji} **Daily Trading Summary**\\n\\n**Date**: ${new Date().toLocaleDateString('en-US', {timeZone: 'America/New_York'})}\\n**Duration**: 9:30 AM - 4:00 PM EST\\n\\n**Performance**:\\n\u2022 Ending Equity: $${endingEquity}\\n\u2022 Net P/L: $${netPnl}\\n\u2022 Return: ${returnPct}%\\n\\n**Activity**:\\n\u2022 Total Trades: ${totalTrades}\\n\u2022 Buys: ${buys}\\n\u2022 Sells: ${sells}\\n\\n\u2705 Trading stopped for the day`\n};"
      },
      "name": "Generate Daily Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/1455707939380793417/eFbKC5JiYXmyAc4UarJiC5tbDCJI5X4kxa0bLU25xTaNLGUo-qhnW7YrXBsvxLQlF_hz",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.summary }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Discord: Daily Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 600]
    },
    {
      "parameters": {
        "path": "trade-alerts",
        "responseMode": "onReceived"
      },
      "name": "Webhook: Trade Alerts",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 800],
      "webhookId": "trade-alerts"
    },
    {
      "parameters": {
        "jsCode": "// Format trade alert for Discord\nconst trade = $input.item.json.body || $input.item.json;\n\nconst emoji = trade.action === 'BUY' ? '\ud83d\udfe2' : '\ud83d\udd34';\nconst action = trade.action;\nconst ticker = trade.ticker;\nconst price = trade.price?.toFixed(2);\nconst shares = trade.shares;\n\nlet message = `${emoji} **${action} ${ticker}**\\n\\n`;\n\nif (action === 'BUY') {\n  message += `Price: $${price}\\nShares: ${shares}\\nCost: $${(price * shares).toFixed(2)}\\nMomentum: ${trade.momentum?.toFixed(4)}`;\n} else {\n  const pnl = trade.pnl?.toFixed(2);\n  const pnlPct = trade.pnl_pct?.toFixed(2);\n  message += `Entry: $${trade.entry_price?.toFixed(2)}\\nExit: $${price}\\nShares: ${shares}\\nP/L: ${pnl >= 0 ? '+' : ''}$${pnl} (${pnlPct}%)\\nReason: ${trade.reason}`;\n}\n\nreturn { message };"
      },
      "name": "Format Trade Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 800]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/1455707939380793417/eFbKC5JiYXmyAc4UarJiC5tbDCJI5X4kxa0bLU25xTaNLGUo-qhnW7YrXBsvxLQlF_hz",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Discord: Trade Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 800]
    }
  ],
  "connections": {
    "Schedule: Data Refresh (8AM)": {
      "main": [
        [
          {
            "node": "Download Stock Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Stock Data": {
      "main": [
        [
          {
            "node": "Discord: Data Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule: Start Trading (9:30AM)": {
      "main": [
        [
          {
            "node": "Start Trading",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Trading": {
      "main": [
        [
          {
            "node": "Discord: Trading Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule: Market Close (4PM)": {
      "main": [
        [
          {
            "node": "Read Trade Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Trade Log": {
      "main": [
        [
          {
            "node": "Generate Daily Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Daily Summary": {
      "main": [
        [
          {
            "node": "Discord: Daily Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Trade Alerts": {
      "main": [
        [
          {
            "node": "Format Trade Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Trade Alert": {
      "main": [
        [
          {
            "node": "Discord: Trade Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "timezone": "America/New_York"
  }
}
