n8n_workflows/validation_scan_workflow_FIXED.json
{
  "name": "TradeAgent - Validation Scan (10am EST)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * 1-5"
            }
          ],
          "timezone": "America/New_York"
        }
      },
      "name": "Schedule: 10:00 AM EST (Mon-Fri)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://127.0.0.1:8000/scan/validation",
        "options": {
          "timeout": 120000
        }
      },
      "name": "Call FastAPI - Validation Scan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.notify }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Check If Changes Detected",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Format validation results\nconst validationData = $input.item.json;\n\nif (validationData.status !== 'success') {\n  throw new Error('Validation failed: ' + (validationData.error || 'Unknown error'));\n}\n\nconst changes = validationData.changes || {};\nconst signals = validationData.signals || [];\n\n// Build change summary\nconst changeSummary = {\n  dropped: changes.dropped || [],\n  added: changes.added || [],\n  score_changes: changes.score_changes || [],\n  price_moves: changes.price_moves || []\n};\n\n// Format signals\nconst signalSummary = signals.slice(0, 10).map((s, idx) => {\n  const factors = s.factors || {};\n  return {\n    rank: idx + 1,\n    ticker: s.ticker,\n    score: s.composite_score?.toFixed(3),\n    price: s.price?.toFixed(2),\n    momentum: {\n      return_10d: factors.momentum?.return_10d?.toFixed(2),\n      rsi: factors.momentum?.rsi_14?.toFixed(1)\n    },\n    volatility: {\n      vol_20d: factors.volatility?.volatility_20d?.toFixed(1)\n    },\n    volume: {\n      ratio: factors.volume?.volume_ratio?.toFixed(2)\n    }\n  };\n});\n\nreturn {\n  scan_timestamp: validationData.timestamp,\n  execution_time: validationData.execution_time,\n  stats: validationData.stats,\n  changes: changeSummary,\n  signals: signalSummary,\n  has_changes: validationData.notify\n};"
      },
      "name": "Format Validation Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "llama-3.1-70b-versatile"
            },
            {
              "name": "messages",
              "value": "={{ JSON.stringify([{role: 'system', content: 'You are a quantitative trading analyst. Provide concise alerts about market changes. Focus on material changes only.'}, {role: 'user', content: `10:00 AM Validation Scan - Changes Detected\n\nDropped Tickers: ${JSON.stringify($json.changes.dropped)}\nAdded Tickers: ${JSON.stringify($json.changes.added)}\nSignificant Score Changes: ${JSON.stringify($json.changes.score_changes)}\nSignificant Price Moves: ${JSON.stringify($json.changes.price_moves)}\n\nProvide:\n1. Quick Summary (2-3 sentences)\n2. Action Items (what to watch)\n3. Risk Alert (if any major concerns)\n\nBe direct and actionable.`}]) }}"
            },
            {
              "name": "temperature",
              "value": "0.5"
            },
            {
              "name": "max_tokens",
              "value": "800"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "name": "Groq AI - Analyze Changes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "Groq API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract AI response\nconst groqResponse = $input.item.json;\nconst aiMessage = groqResponse.choices[0].message.content;\n\n// Get validation data from previous node\nconst validationData = $node[\"Format Validation Data\"].json;\nconst changes = validationData.changes;\n\n// Build alert email body\nconst emailBody = `\n<html>\n<head>\n<style>\n  body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n  .header { background: #ea4335; color: white; padding: 20px; text-align: center; }\n  .content { padding: 20px; }\n  .alert-box { background: #fff3cd; border-left: 4px solid #ffc107; padding: 15px; margin: 20px 0; }\n  .change-section { background: #f8f9fa; padding: 15px; margin: 15px 0; border-radius: 5px; }\n  .change-title { font-weight: bold; color: #ea4335; margin-bottom: 10px; }\n  .change-list { list-style: none; padding: 0; }\n  .change-list li { padding: 5px 0; border-bottom: 1px solid #ddd; }\n  .ai-analysis { white-space: pre-wrap; background: #fff; padding: 20px; border: 1px solid #ddd; border-radius: 5px; margin: 20px 0; }\n  .stats { display: flex; gap: 20px; margin: 20px 0; }\n  .stat-box { background: #e8f0fe; padding: 15px; border-radius: 5px; flex: 1; text-align: center; }\n  .footer { background: #f5f5f5; padding: 15px; text-align: center; font-size: 12px; color: #666; margin-top: 30px; }\n  .positive { color: #34a853; }\n  .negative { color: #ea4335; }\n</style>\n</head>\n<body>\n  <div class=\"header\">\n    <h1>⚠️ TradeAgent Validation Alert</h1>\n    <p>10:00 AM EST Market Update | ${new Date().toLocaleDateString('en-US', {timeZone: 'America/New_York', weekday: 'long', month: 'short', day: 'numeric'})}</p>\n  </div>\n  \n  <div class=\"content\">\n    <div class=\"alert-box\">\n      <strong>🚨 Changes Detected:</strong> Significant updates to pre-market picks detected in validation scan.\n    </div>\n    \n    <div class=\"stats\">\n      <div class=\"stat-box\">\n        <div style=\"font-size: 24px; font-weight: bold; color: #ea4335;\">${changes.dropped.length}</div>\n        <div style=\"font-size: 12px; color: #666;\">Dropped</div>\n      </div>\n      <div class=\"stat-box\">\n        <div style=\"font-size: 24px; font-weight: bold; color: #34a853;\">${changes.added.length}</div>\n        <div style=\"font-size: 12px; color: #666;\">Added</div>\n      </div>\n      <div class=\"stat-box\">\n        <div style=\"font-size: 24px; font-weight: bold; color: #fbbc04;\">${changes.score_changes.length}</div>\n        <div style=\"font-size: 12px; color: #666;\">Score Changes</div>\n      </div>\n      <div class=\"stat-box\">\n        <div style=\"font-size: 24px; font-weight: bold; color: #4285f4;\">${changes.price_moves.length}</div>\n        <div style=\"font-size: 12px; color: #666;\">Price Moves >2%</div>\n      </div>\n    </div>\n    \n    <h2>🤖 AI Analysis</h2>\n    <div class=\"ai-analysis\">${aiMessage}</div>\n    \n    ${changes.dropped.length > 0 ? `\n    <div class=\"change-section\">\n      <div class=\"change-title\">❌ Dropped from Top 10:</div>\n      <ul class=\"change-list\">\n        ${changes.dropped.map(d => `\n          <li><strong>${d.ticker}</strong> - Previously ranked #${d.old_rank} (score: ${d.old_score.toFixed(3)})</li>\n        `).join('')}\n      </ul>\n    </div>\n    ` : ''}\n    \n    ${changes.added.length > 0 ? `\n    <div class=\"change-section\">\n      <div class=\"change-title\">✅ Added to Top 10:</div>\n      <ul class=\"change-list\">\n        ${changes.added.map(a => `\n          <li><strong>${a.ticker}</strong> - New rank #${a.new_rank} (score: ${a.new_score.toFixed(3)})</li>\n        `).join('')}\n      </ul>\n    </div>\n    ` : ''}\n    \n    ${changes.price_moves.length > 0 ? `\n    <div class=\"change-section\">\n      <div class=\"change-title\">📊 Significant Price Moves:</div>\n      <ul class=\"change-list\">\n        ${changes.price_moves.map(p => `\n          <li>\n            <strong>${p.ticker}</strong>: $${p.old_price.toFixed(2)} → $${p.new_price.toFixed(2)} \n            <span class=\"${p.change_pct > 0 ? 'positive' : 'negative'}\">\n              (${p.change_pct > 0 ? '+' : ''}${p.change_pct.toFixed(2)}%)\n            </span>\n          </li>\n        `).join('')}\n      </ul>\n    </div>\n    ` : ''}\n    \n    ${changes.score_changes.length > 0 ? `\n    <div class=\"change-section\">\n      <div class=\"change-title\">📈 Score Changes:</div>\n      <ul class=\"change-list\">\n        ${changes.score_changes.map(s => `\n          <li>\n            <strong>${s.ticker}</strong>: ${s.old_score.toFixed(3)} → ${s.new_score.toFixed(3)} \n            <span class=\"${s.change > 0 ? 'positive' : 'negative'}\">\n              (${s.change > 0 ? '+' : ''}${s.change.toFixed(3)})\n            </span>\n          </li>\n        `).join('')}\n      </ul>\n    </div>\n    ` : ''}\n  </div>\n  \n  <div class=\"footer\">\n    <p>TradeAgent v0.1.0 | Validation Scan Alert</p>\n    <p>Review updated signals and adjust watchlist accordingly.</p>\n  </div>\n</body>\n</html>\n`;\n\nreturn {\n  subject: `⚠️ TradeAgent Alert - Changes Detected (${new Date().toLocaleDateString('en-US', {timeZone: 'America/New_York', month: 'short', day: 'numeric', hour: 'numeric', minute: '2-digit'})})`,\n  body: emailBody,\n  validation_data: validationData\n};"
      },
      "name": "Format Alert Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "fromEmail": "tradeagent@yourdomain.com",
        "toEmail": "=yasser@theasdmom.com,yasseriqbal@yahoo.com",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.body }}"
      },
      "name": "Send Alert Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1450, 200],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "Gmail SMTP"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// No significant changes - log only\nconst validationData = $input.item.json;\n\nconsole.log('Validation scan completed - No significant changes detected');\nconsole.log('Stats:', validationData.stats);\n\nreturn {\n  message: 'No changes - no email sent',\n  timestamp: validationData.timestamp,\n  stats: validationData.stats\n};"
      },
      "name": "No Changes - Skip Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Schedule: 10:00 AM EST (Mon-Fri)": {
      "main": [
        [
          {
            "node": "Call FastAPI - Validation Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call FastAPI - Validation Scan": {
      "main": [
        [
          {
            "node": "Check If Changes Detected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Changes Detected": {
      "main": [
        [
          {
            "node": "Format Validation Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Changes - Skip Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Validation Data": {
      "main": [
        [
          {
            "node": "Groq AI - Analyze Changes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq AI - Analyze Changes": {
      "main": [
        [
          {
            "node": "Format Alert Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Alert Email": {
      "main": [
        [
          {
            "node": "Send Alert Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false
}
